@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
